<?xml version="1.0"?>
<configuration>
  <appSettings/>
  <connectionStrings>
    <add name="jtdbConnectionString" connectionString="Data Source=.\SQLEXPRESS2008R2;Initial Catalog=jtdb;uid=sa;pwd=sap19690123  "/>
    <add name="SapSQLConnection" connectionString="Data Source=192.168.1.31;Initial Catalog=JTTST1;uid=sa;pwd=sap19690123  "/>
    <!--<add name="SapSQLConnection" connectionString="Data Source=192.168.1.31;Initial Catalog=JTSTD;uid=sa;pwd=sap19690123  " />-->
    <!--在login.aspx.vb 之Session("usingdb") = "JTTST1" 要改為JTSTD -->
  </connectionStrings>
  <system.web>
    <!-- 
            設定 compilation debug="true" 會將偵錯
            符號插入編譯過的頁面。因為這樣會
            影響效能，所以只有在開發期間才能將
            這個值設定為 true。

            Visual Basic 選項:
            設定 strict="true" 會不允許所有可能發生
            資料遺失的資料型別進行轉換。
            設定 explicit="true" 會強制宣告各項變數。
        -->
    <httpRuntime maxRequestLength="102400" executionTimeout="600"/>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.0"/>
    <sessionState timeout="30" cookieless="false"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <!--<pages pageBaseType="BasePage" userControlBaseType="BaseUserControl"> -->
      <namespaces>
        <clear/>
        <add namespace="System"/>
        <add namespace="System.Collections"/>
        <add namespace="System.Collections.Generic"/>
        <add namespace="System.Collections.Specialized"/>
        <add namespace="System.Configuration"/>
        <add namespace="System.Text"/>
        <add namespace="System.Text.RegularExpressions"/>
        <add namespace="System.Linq"/>
        <add namespace="System.Xml.Linq"/>
        <add namespace="System.Web"/>
        <add namespace="System.Web.Caching"/>
        <add namespace="System.Web.SessionState"/>
        <add namespace="System.Web.Security"/>
        <add namespace="System.Web.Profile"/>
        <add namespace="System.Web.UI"/>
        <add namespace="System.Web.UI.WebControls"/>
        <add namespace="System.Web.UI.WebControls.WebParts"/>
        <add namespace="System.Web.UI.HtmlControls"/>
      </namespaces>
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit"/>
      </controls>
    </pages>
    <!--
            <authentication> 區段可以用來設定 ASP.NET 
            使用的安全性驗證模式，以識別連入的 
            使用者。 
        -->
    <!--<authentication mode="Windows" />-->
    <authentication mode="Forms">
      <forms timeout="60"/>
    </authentication>
    <!--
            <customErrors> 區段可以用來設定 
            在執行要求期間發生未處理 
            錯誤時所要執行的動作。具體來說，
            它可以讓開發人員設定要顯示的 HTML 錯誤網頁，
            以取代錯誤堆疊追蹤。

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
  </system.web>
  <!-- 
  <system.net>
    <mailSettings>
      <smtp>
        <network host ="smg.jettech.com.tw"
                userName ="ron@jettech.com.tw"
                port ="465"
                password ="37512945ron" />
      </smtp>
      </mailSettings>
  </system.net>
  -->
  <!-- 
        需要 system.webServer 區段才能在 Internet Information Services 7.0 下
        執行 ASP.NET AJAX。舊版的 IIS 則不需要。
    -->
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <remove name="OPTIONSVerbHandler"/>
      <remove name="TRACEVerbHandler"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="104857600"/>
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>