root = true

[*]
charset = utf-8-bom
end_of_line = lf
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true

[*.{xml,config,json,yml,yaml,md,html,css,js,ts}]
charset = utf-8
indent_size = 2

[*.{vb,cs,aspx,ashx,asax}]
indent_size = 4
charset = utf-8-bom